.primary {
    display: flex;
    align-items: center;
}
.avatar {
    margin: 10px;
    &__block {
        display: flex;
    }
    &__image {
    width: 200px; 
    border-radius: 50%; 
    border: solid #1D1D1D 5px;
    }

    &__text {
        font-size: 40px;
        font-weight: 700;
        position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0%;
    animation-name: text;
    animation-duration: 2s;
    padding: 50px;
    }

    @keyframes text {
        0% {
        }
        50% {
            color: red;
            opacity: 100%;
            font-size: 70px;
        }
        100% {
            font-size: 40px;
           opacity: 0%;
        }
    }

    &__text:hover {
    animation-iteration-count: infinite;
    cursor: pointer;
     }

}
.secondary {
        position: relative;
        z-index:1;
        overflow:hidden; /*if you want to crop the image*/
        
    &:before{
        z-index:-1;
        position:absolute;
        left:0;
        top:0;
        content: url('https://i.pinimg.com/originals/7c/01/a4/7c01a43e112a1411d3996543ff761417.png');
        opacity:0.1;
    }
    display: flex;

    &__main {
        width: 70%;
        padding-right: 30px;
    }
    &__minor {
        margin-left: 50px;
    }
}

    